DB_HOST=localhost
DB_NAME=db_eicg
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4
APP_NAME=EICG
APP_ENV=development


# Configuration SMTP
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USERNAME=treykasanogo@gmail.com
# SMTP_PASSWORD='edngtqaiougcqmmg'
# SMTP_SECURE=tls
# SMTP_AUTH=true
# SMTP_ENCRYPTION=null
# SMTP_FROM=treykasanogo@gmail.com
# SMTP_FROM_NAME="G-STOCK"


# Configuration SMTP pour MailDev
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_AUTH=false
SMTP_USERNAME=null
SMTP_PASSWORD=null
SMTP_ENCRYPTION=null
SMTP_FROM="no-reply@monprojet.test"
SMTP_FROM_NAME="Mon Projet Local"